[user]
	name = Tim Wikstrom
	email = -
[alias]
    st = status
    ci = commit -v
	rl = reflog show --date=relative
	glog = log --graph --all --decorate --oneline
    mb = merge-base
[color]
	ui = auto
	status = auto
[color "status"]
	branch = yellow
	added = green
	untracked = red
	changed = cyan
[push]
	default = current
[http]
[pull]
	rebase = true
